name: soft-serve

services:
  server:
    container_name: soft-serve_server
    image: docker.io/charmcli/soft-serve:v0.11.3@sha256:c65248271a9546e2fba9478900dd6114154339aca132c72f495b853c6b1d71b2
    environment:
      SOFT_SERVE_INITIAL_ADMIN_KEYS: $SOFT_SERVE_INITIAL_ADMIN_KEYS
      SOFT_SERVE_NAME: $SOFT_SERVE_NAME
      SOFT_SERVE_SSH_PUBLIC_URL: ssh://$SOFT_SERVE_DOMAIN
    volumes:
      - soft-serve:/soft-serve
    configs:
      - source: timezone
        target: /etc/localtime
      - source: git_config
        target: /root/.gitconfig
    healthcheck:
      test: wget --spider -q http://localhost:23232/readyz || exit 1
      interval: 5s
      retries: 3
    restart: unless-stopped

  cloudflare-tunnel:
    container_name: soft-serve_cloudflare-tunnel
    image: docker.io/cloudflare/cloudflared:2026.2.0@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c
    command: tunnel --no-autoupdate run
    environment:
      TUNNEL_TOKEN: $TUNNEL_TOKEN
    restart: unless-stopped

volumes:
  soft-serve:

configs:
  timezone:
    file: /etc/localtime
  git_config:
    file: ./config/.gitconfig
