name: paperless

services:
  webserver:
    container_name: paperless_webserver
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.7@sha256:7b937cb2fa2885ab0ecfceb8c7e8827e2312472d9d897a270097ba7f5522dcdc
    environment:
      PAPERLESS_REDIS: redis://redis:6379
      PAPERLESS_DBHOST: $DB_HOSTNAME
      PAPERLESS_DBNAME: $DB_DATABASE_NAME
      PAPERLESS_DBUSER: $DB_USERNAME
      PAPERLESS_DBPASS: $DB_PASSWORD
      PAPERLESS_FILENAME_FORMAT: "{{ created_year }}/{{ created_month }}-{{ created_day }}/{{ title }}"
      PAPERLESS_SECRET_KEY: $DB_PASSWORD
      PAPERLESS_URL: $PAPERLESS_URL
      PAPERLESS_OCR_LANGUAGE: jpn+eng
      PAPERLESS_OCR_LANGUAGES: jpn
    volumes:
      - ./media:/usr/src/paperless/media
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  database:
    container_name: &paperless_database paperless_database
    image: docker.io/postgres:17.8@sha256:1eada89ec2521ae0f61125f6bdaf83bbbf88a43fecda48d112a83bb92df75c36
    environment:
      POSTGRES_HOST: $DB_HOSTNAME
      POSTGRES_DB: $DB_DATABASE_NAME
      POSTGRES_USER: $DB_USERNAME
      POSTGRES_PASSWORD: $DB_PASSWORD
    volumes:
      - database:/var/lib/postgresql/data
      - database-backup:/tmp/backup
    healthcheck:
      test: pg_isready -d '$DB_DATABASE_NAME' -U '$DB_USERNAME' || exit 1
      interval: 5s
      retries: 3
    labels:
      docker-volume-backup.exec-label: *paperless_database
      docker-volume-backup.archive-pre: pg_dump -d '$DB_DATABASE_NAME' -U '$DB_USERNAME' -f /tmp/backup/paperless.sql
    restart: unless-stopped

  redis:
    container_name: paperless_redis
    image: docker.io/redis:7.2.5-alpine3.19@sha256:8f157725f8eee31e65a8d4765f1f986d76aedc1a0503345dfb63a2b1b5a441ee
    healthcheck:
      test: redis-cli ping || exit 1
      interval: 5s
      retries: 3
    restart: unless-stopped

  backup:
    container_name: paperless_backup
    image: docker.io/offen/docker-volume-backup:v2.47.1@sha256:65a395b7531675ebd4ce9fac611da0d954ea628786d683e3d473ce7e65a61769
    environment:
      BACKUP_CRON_EXPRESSION: 0 5 * * *
      R2_PATH: $R2_PATH
      BACKUP_RETENTION_DAYS: 14
      GPG_PASSPHRASE: $DB_PASSWORD
    env_file:
      - path: ../.env
        required: true
    volumes:
      - database-backup:/backup/database:ro
      - $BACKUP_DIR/database:/archive/database
      - ./media/documents/originals:/backup/media:ro
      - $BACKUP_DIR/media:/archive/media
    configs:
      - source: docker-socket
        target: /var/run/docker.sock
      - source: timezone
        target: /etc/localtime
      - source: backup_config
        target: /etc/dockervolumebackup/conf.d
    depends_on:
      database:
        condition: service_healthy
    restart: unless-stopped

  cloudflare-tunnel:
    container_name: paperless_cloudflare-tunnel
    image: docker.io/cloudflare/cloudflared:2026.2.0@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c
    command: tunnel --no-autoupdate run
    environment:
      TUNNEL_TOKEN: $TUNNEL_TOKEN
    restart: unless-stopped

volumes:
  database:
  database-backup:

configs:
  docker-socket:
    file: /var/run/docker.sock
  timezone:
    file: /etc/localtime
  backup_config:
    file: ./config/backup
