name: timemachine

services:
  timemachine:
    container_name: timemachine
    image: docker.io/mbentley/timemachine:smb-20260127@sha256:d76e9b8ca8870fc58694481e5981a6a1b96d0dfb6ff0bd5dbfb5747d436bb9c7
    environment:
      TM_USERNAME: $TM_USERNAME
      PASSWORD: $TM_PASSWORD
      SHARE_NAME: $TM_SHARE_NAME
      VOLUME_SIZE_LIMIT: $TM_VOLUME_SIZE_LIMIT
    volumes:
      - $BACKUP_DIR:/opt/$TM_USERNAME
    network_mode: host
    restart: unless-stopped
